<% content_for :title, "Log in - RailSlips" %>

<%= render layout: "shared/auth_card", locals: { title: "Log in" } do %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %> 
    <div class="field mb-2 mt-5">
      <%= f.label :email, class: "block text-lg font-medium text-gray-700 mb-2" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded-md border-gray-300 p-3 w-full border-2 shadow-sm focus:outline-none focus:border-gray-300" %>
    </div>

    <div class="field mb-6">
      <%= f.label :password, class: "block text-lg font-medium text-gray-700 mb-2" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "rounded-md border-gray-300 p-3 w-full border-2 shadow-sm focus:outline-none focus:border-gray-300" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field mb-6">
        <%= f.check_box :remember_me, class: "h-5 w-5 focus:ring-0 focus:outline-none accent-green-900" %>
        <%= f.label :remember_me, class: "ml-2 text-lg" %>
      </div>
    <% end %>

    <div class="actions mt-6">
      <%= f.submit "Log in", class: "w-full bg-green-950 text-white py-3 rounded-md font-semibold hover:bg-green-900 focus:outline-none" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
<% end %>
